
<form [formGroup]="classForm">

<div>
    <mat-form-field class="example-width" appearance="fill">
        <mat-label>Lecture Code </mat-label>
        <input matInput type="text" formControlName="code" /><br>
    </mat-form-field>
    <br>
    <mat-form-field class="example-width" appearance="fill">
        <mat-label>Lecturer</mat-label>
        <mat-select formControlName="lecturer" >    
            <mat-option *ngFor="let lecturer of lecturerList" [value]="lecturer">{{lecturer.nameSurname}}</mat-option>

        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-width" appearance="fill">

        <input matInput type="number" formControlName="capacity" /><br>


    </mat-form-field>
    <div *ngIf="capacity?.invalid">Kapasite sadece sayi olmalidir.</div>
    <br>
    <button mat-raised-button [disabled]="classForm.invalid" (click)="kayit()">Submit</button>

</div>
<div>
    <br>

</div>
</form>

<!-- [(ngModel)]="selectedLecturer" -->