
    table,
    th,
    td {
        border: 1px solid black;
        margin: 50px 50px 75px 400px;
    }

    h2 {
        font-size: 40px;
        font-weight: bold;
        position: relative;
        
        margin: 5px auto;
        color: black;
        
        
          }
