<div>
  <mat-sidenav-container class="example-container">
    <mat-sidenav class="side" mode="side" opened><br>
      <div class="link">
      <a [routerLink]="['']">HOME</a><br>
    </div>
    <div class="link">
      <a [routerLink]="['/list']">STUDENT LIST</a><br>
    </div>
    <div class="link">
      <a [routerLink]="['/teachList']">TEACHER LIST</a><br>
    </div>
    <div class="link">
      <a [routerLink]="['/lectureList']">LECTURE LIST</a><br>
    </div>
      
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>


  </mat-sidenav-container>

</div>





<!-- <a [routerLink]="['']" >
    <h1>HOME</h1>
</a>



  <a [routerLink]="['/list']">
  
    <h1>STUDENT LIST</h1>
  </a>





  

  
  <a [routerLink]="['/teachList']">
  
    <h1>TEACHER LIST</h1>
  </a>


  <a [routerLink]="['/lectureList']">
  
    <h1>LECTURE LIST</h1>
  </a> -->